[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn

[ dn ]
organizationName       = CrtForge
organizationalUnitName = {{.appName}}
commonName             = {{.commonName}}

[ v3_ext ]
subjectAltName = @alt_names

[ alt_names ]
{{.altNames}}